.nav-link {
    color: #fff;
}

.nav-link:hover {
    background-color: #ff3333;
    color: #fff;
}

.navbar
{
    background-color: #343a4b;
}
.primary{
    background-color: #ff3333;
}

.navbar-brand
{
    color: #fff;
}

.img-logo {
    height: 40px; /* Adjust the height as needed */
    width: auto;  /* Maintain the aspect ratio */
    margin-right: 10px; /* Add spacing between the logo and the brand text */
    display: inline-block; /* Ensure proper alignment */
    object-fit: contain; /* Makes sure the logo fits without distortion */
}

.imgmain{
    height : 30%;
    width : 20%;
}


.rounded-image-container img {
    max-height: 100%; /* Prevents the image from exceeding the height of the container */
    max-width: 100%; /* Maintains the aspect ratio */
    border-radius: 20px; /* Rounded corners */
    object-fit: cover; /* Ensures the image fills the space without distortion */
    border: none; /* Removes any border */
    box-shadow: none; /* Removes the shadow */
  }
  
  .about-us-container {
    border-radius: 20px; /* Rounded corners */
    border: none; /* Removes border */
    box-shadow: none; /* Removes shadow */
    padding: 20px; /* Optional: Add some padding for better spacing */
  }
  


  /* For mobile screens */
@media (max-width: 768px) {
    /* Reduce height of the background image */
    .imgmain{
        height : 50%;
        width : 50%;
        margin-bottom: 20px;
    }
    
  }

  .navbar-toggler{
    background-color: white;
  }
  