.nav-link {
    color: #fff;
}

.nav-link:hover {
    background-color: #ff3333;
    color: #fff;
}

.navbar
{
    background-color: #343a4b;
}
.primary{
    background-color: #ff3333;
}

.navbar-brand
{
    color: #fff;
}

.img-logo {
    height: 40px; /* Adjust the height as needed */
    width: auto;  /* Maintain the aspect ratio */
    margin-right: 10px; /* Add spacing between the logo and the brand text */
    display: inline-block; /* Ensure proper alignment */
    object-fit: contain; /* Makes sure the logo fits without distortion */
}

.imgmain{
    height : 30%;
    width : 20%;
}